#define VERSION_DEFINED

#include "version.h"

VersionInformation CurrentVersion = {
	0x00000001UL,	// Net Save Version
	0x00000001UL,	// Player Save Version
	0x00000016UL,	// Object/World Save Version
	{ 0, 0, 1 },	// AcidMUD Version (X.X.X-SVN)
	SVN_STAMP,	// Dynamically Filled by Makefile
	"DATE_STAMP"	// Dynamically Filled by Makefile
	};
